
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


header {
    background: #2fabb7;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #0056b3;
}

header h1 {
    margin: 0;
    font-size: 2em;
}


main {
    margin: 20px 0;
}

article {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #1c2420;
    margin-bottom: 10px;
}

article p {
    margin: 10px 0;
}


input[type="button"] {
    background: #278d62;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="button"]:hover {
    background: #19ba6a;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header h1 {
        font-size: 1.5em;
    }

    input[type="button"] {
        font-size: 0.9em;
    }
}
